extends ../../template/layout.pug

block var
  -
    const
    title = 'Fotos VivoBox CrossFit Murcia',
    noindex = false

block header
block content
  section.py-5
    .container(data-showup)
      h1 Fotos
      .fotos

        //- NUEVAS FOTOS

        mixin img(slug)
          a(href=`/img/${slug}.jpg` data-lightbox='gallery')
            img.img-fluid(data-src=`/img/${slug}-300.jpg` alt=slug data-srcset=`/img/${slug}-300.jpg 300w, /img/${slug}.jpg 1024w`)

        +img('2020-12-20-10-43-21')
        +img('2020-12-20-10-44-20')
        +img('2020-12-20-10-45-21')
        +img('2020-12-20-10-45-44')
        +img('2020-12-20-10-46-39')
        +img('2020-12-20-10-47-34')
        +img('2020-12-20-10-49-03')
        +img('2020-12-20-10-57-14')
        +img('2020-12-20-10-57-17')
        +img('2020-12-20-10-58-29')
        +img('2020-12-20-10-58-41')
        +img('2020-12-20-11-00-41')
        +img('2020-12-20-11-02-10')
        +img('2020-12-20-11-02-30')
        +img('2020-12-20-11-06-27')
        +img('2020-12-20-11-07-58')
        +img('2020-12-20-11-08-21')
        +img('2020-12-20-11-08-28')
        +img('2020-12-20-11-09-41')
        +img('2020-12-20-11-13-46')
        +img('2020-12-20-11-17-29')
        +img('2020-12-20-11-17-38')
        +img('2020-12-20-11-19-51')
        +img('2020-12-20-11-20-09')
        +img('2020-12-20-11-26-49')
        +img('2020-12-20-11-27-04')
        +img('2020-12-20-11-28-30')
        +img('2020-12-20-11-28-36')
        +img('2020-12-20-11-28-43')
        +img('2020-12-20-11-34-14')
        +img('2020-12-20-11-36-24')
        +img('2020-12-20-11-40-16')
        +img('2020-12-20-11-52-11')
        +img('2020-12-20-11-52-50')
        +img('2020-12-20-11-55-31')
        +img('2020-12-20-11-55-42')
        +img('2020-12-20-11-58-23')
        +img('2020-12-20-12-00-14')
        +img('2020-12-20-12-00-15')
        +img('2020-12-20-12-00-46')
        +img('2020-12-20-12-05-20')
        +img('2020-12-20-12-06-19')
        +img('2020-12-20-12-07-01')
        +img('2020-12-20-12-07-04')
        +img('2020-12-20-12-08-28')
        +img('2020-12-20-12-08-43')
        +img('2020-12-20-12-09-25')
        +img('2020-12-20-12-09-45')
        +img('2020-12-20-12-10-36')
        +img('2020-12-20-12-12-30')
        +img('2020-12-20-12-13-11')
        +img('2020-12-20-12-18-27')
        +img('2020-12-20-12-18-43')
        +img('2020-12-20-12-21-48')
        +img('2020-12-20-12-22-24')
        +img('2020-12-20-12-23-43')
        +img('2020-12-20-12-24-37')
        +img('2020-12-20-12-25-50')
        +img('2020-12-20-12-26-41')
        +img('2020-12-20-12-27-13')
        +img('2020-12-20-12-28-30')
        +img('2020-12-20-12-29-34')
        +img('2020-12-20-12-34-45')
        +img('2020-12-20-12-35-53')
        +img('2020-12-20-12-36-19')
        +img('2020-12-20-12-37-11')
        +img('2020-12-20-12-37-12')
        +img('2020-12-20-13-33-53')
        +img('2020-12-20-13-34-35')
        +img('2020-12-20-13-38-09')
        +img('2020-12-20-13-38-41')

        //- VIEJAS FOTOS

        mixin imgOld(slug, slug300, slug768)
          a(href=`/img/${slug}.jpg` data-lightbox='gallery')
            img.img-fluid(data-src=`/wp-content/uploads/${slug}-${slug300}.jpg` alt=slug data-srcset=`/wp-content/uploads/${slug}-${slug300}.jpg 300w, ${ slug768 ? `/wp-content/uploads/${slug}-${slug768}.jpg 768w, /wp-content/uploads/${slug}.jpg 1024w` : `/wp-content/uploads/${slug}.jpg 683w` }`)

        +imgOld('crossfit-murcia', '300x200', '768x512')
        +imgOld('back-squad-pesas-crossfit', '300x200', '768x512')
        +imgOld('jose-antonio-sanchez-mora', '300x300', '768x768')
        //- +imgOld('16-04-05_20-32-03', '300x300', '768x768')
        //- +imgOld('16-04-13_13-00-47', '300x200', '768x512')
        +imgOld('16-05-16_11-26-48', '300x200', '768x512')
        //- +imgOld('16-04-13_12-32-02', '300x200', '768x512')
        //- +imgOld('16-04-13_12-38-46', '300x200', '768x512')
        +imgOld('16-05-16_11-42-37', '300x200', '768x512')
        //- +imgOld('16-05-16_12-06-58', '300x200', '768x512')
        +imgOld('16-05-16_12-24-55', '300x200', '768x512')
        +imgOld('16-05-16_12-29-06', '300x200', '768x512')
        +imgOld('16-05-16_12-40-53', '300x200', '768x512')
        +imgOld('16-05-16_13-19-31', '300x200', '768x512')
        +imgOld('manos-magnesio-crossfit', '300x200', '768x512')
        //- +imgOld('clases-crossfit', '300x200', '768x512')
        //- +imgOld('16-03-11_17-35-26', '200x300')
        //- +imgOld('16-04-05_20-34-40', '200x300')
        //- +imgOld('16-05-16_11-05-28', '300x200', '768x512')
        +imgOld('16-05-16_11-26-53', '300x200', '768x512')
        //- +imgOld('16-05-16_11-32-15', '300x200', '768x512')
        //- +imgOld('16-05-16_11-32-35', '300x200', '768x512')
        +imgOld('16-05-16_11-53-05', '300x200', '768x512')
        //- +imgOld('16-05-16_12-17-07', '300x200', '768x512')
        +imgOld('16-05-16_12-25-05', '300x200', '768x512')
        //- +imgOld('16-05-16_12-29-22', '300x200', '768x512')
        +imgOld('16-05-16_12-43-02', '300x200', '768x512')
        +imgOld('16-05-16_13-26-10', '768x512')
        +imgOld('sentadilla-crossfit', '300x300', '768x768')
        +imgOld('ejercicios-crossfit-murcia', '300x200', '768x512')
        //- +imgOld('16-03-11_17-37-23', '300x200', '768x512')
        //- +imgOld('16-04-05_20-36-40', '768x512')
        //- +imgOld('16-05-16_11-05-41', '300x200', '768x512')
        //- +imgOld('16-05-16_11-28-12', '200x300')
        //- +imgOld('16-04-13_13-13-50', '200x300')
        //- +imgOld('16-05-16_11-34-20', '768x512')
        //- +imgOld('16-05-16_11-55-28', '300x200', '768x512')
        //- +imgOld('16-05-16_12-20-40', '768x512')
        +imgOld('16-05-16_12-27-41', '300x200', '768x512')
        //- +imgOld('16-05-16_12-31-54', '300x200', '768x512')
        +imgOld('16-05-16_12-46-58', '300x200', '768x512')
        //- +imgOld('entrenamiento-vivobox-crossfit', '300x200', '768x512')
        //- +imgOld('entrenamiento', '200x300')
        //- +imgOld('16-03-11_17-37-53', '219x300')
        //- +imgOld('16-04-05_20-39-17', '300x200', '768x512')
        //- +imgOld('16-05-16_11-08-55', '300x200', '768x512')
        +imgOld('16-05-16_11-30-11', '300x200', '768x512')
        //- +imgOld('16-04-13_12-27-16', '300x200', '768x512')
        //- +imgOld('16-05-16_11-36-53', '300x200', '768x512')
        //- +imgOld('16-05-16_12-03-19', '300x200', '768x512')
        //- +imgOld('16-05-16_12-21-38', '200x300')
        //- +imgOld('16-05-16_12-27-42', '300x300', '768x768')
        //- +imgOld('16-05-16_12-37-04', '300x200', '768x512')
        //- +imgOld('16-05-16_13-06-13', '300x200', '768x512')
        //- +imgOld('16-05-16_13-29-05', '300x200', '768x512')
        //- +imgOld('box-crossfit-murcia', '300x200', '768x512')
        +imgOld('entrenamiento-crossfit-reventado', '300x200', '768x512')
        //- +imgOld('16-04-05_20-07-32', '200x300')
        //- +imgOld('16-04-05_20-59-46', '300x200', '768x512')
        //- +imgOld('16-05-16_11-08-59', '300x200', '768x512')
        +imgOld('16-05-16_11-30-49', '300x200', '768x512')
        //- +imgOld('16-04-05_20-18-58', '300x200', '768x512')
        //- +imgOld('16-05-16_11-38-29', '300x200', '768x512')
        //- +imgOld('16-04-05_20-58-54', '300x200', '768x512')
        //- +imgOld('16-05-16_12-21-46', '300x300', '768x768')
        +imgOld('16-05-16_12-28-44', '200x300')
        +imgOld('16-05-16_12-39-17', '300x200', '768x512')
        //- +imgOld('16-05-16_13-06-39', '200x300')
        //- +imgOld('barra-pesas-crossfit', '300x200', '768x512')
        //- +imgOld('francisco-jose-gallego-molina', '300x300', '768x768')
        //- +imgOld('16-04-05_20-31-52', '300x200', '768x512')
        //- +imgOld('16-04-13_12-49-24', '300x169', '768x432')
        //- +imgOld('16-05-16_11-10-42', '300x200', '768x512')
        //- +imgOld('16-05-16_11-32-09', '300x200', '768x512')
        //- +imgOld('16-05-16_11-25-05', '300x200', '768x512')
        //- +imgOld('16-05-16_11-41-07', '300x200', '768x512')
        //- +imgOld('16-05-16_11-34-03', '200x300')
        //- +imgOld('16-05-16_12-22-07', '300x200', '768x512')
        //- +imgOld('16-05-16_12-28-45', '300x200', '768x512')
        +imgOld('16-05-16_12-40-40', '768x512')
        +imgOld('16-05-16_13-18-24', '300x200', '768x512')

  script(src='/js/simple-lightbox.js')
  script.
    // SimpleLightbox
    const gallery = new SimpleLightbox("[data-lightbox='gallery']")