meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
block metas
  if title
    title= title
    meta(name='twitter:title' property='og:title' content=title)
  else
    title= 'Clínica Martínez Marcos'
  if metaDescription
    meta(name='description' property='og:description' content=metaDescription)
    meta(name='twitter:description' property='og:description' content=metaDescription)
  if noindex
    meta(name='robots' content='noindex')
meta(property='og:site_name' content='Clínica Martínez Marcos')
meta(property='og:url' content=`http://clinicamartinezmarcos.com/${url || ''}`)
meta(property='og:type' content='website')
meta(property='og:locale' content='es_ES')
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:image' property='og:image' content=`https://clinicamartinezmarcos.com/${img || 'img/icono.png'}`)
if url || index
  link(rel='canonical' href=`https://clinicamartinezmarcos.com/${url || ''}`)
link(rel='shortcut icon' type='image/x-icon' sizes='16x16' href='img/favicon.ico')
link(rel='icon' type='image/png' sizes='32x32' href='img/favicon.png')
if devMode
  link(rel='stylesheet' href='gfonts/fonts.css')
else
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300,400&display=swap')
link(rel='stylesheet' href='css/styles.css' type='text/css')
meta(name='google-site-verification' content='9lvO4nmdJlYuvQnlw2zYQdtQwywFWusaxzHRuHCW6s8')
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-2157126-24')
script.
  window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-2157126-24');
script(type='application/ld+json').
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "logo": "https://clinicamartinezmarcos.com/img/icono.png",
    "brand": {
      "@type": "Brand",
      "name": "Clínica Martínez Marcos"},
    "name": "Clínica Martínez Marcos",
    // "alternateName": [
    //   "clínica martínez marcos"],
    "description": "Clínica de Psicología, Logopedia, Psiquiatría, Fisioterapia y Osteopatía en Murcia.",
    "url": "http://clinicamartinezmarcos.com/",
    "sameAs": [
      "https://www.instagram.com/clinicamartinezmarcos/",
      "https://www.facebook.com/ClinicaMartinezMarcos1/"],
    "telephone": [
      "+34968111364",
      "968 11 13 64",
      "+34659733454",
      "659 73 34 54"],
    "email": "clinicamartinezmarcos@gmail.com",
    "openingHours": "Mo-Fr 16:30-21:00",
    "hasMap": "https://goo.gl/maps/hy19EF6aGu4AMsNG8",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Plaza Beato Andrés Hibernón 1",
      "postalCode": "30001",
      "addressLocality": "Murcia",
      "addressRegion": "Murcia",
      "addressCountry": "ES"},
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "37.987117",
      "longitude": "-1.127396"},
    "image": [
      "https://clinicamartinezmarcos.com/img/fondo.jpg",
      "https://clinicamartinezmarcos.com/img/equipo-clinica-martinez-marcos.jpg",
      "https://clinicamartinezmarcos.com/img/juan-jose-martinez-marcos.jpg",
      "https://clinicamartinezmarcos.com/img/leticia-martinez-pino.jpg",
      "https://clinicamartinezmarcos.com/img/recibidor-central.jpg",
      "https://clinicamartinezmarcos.com/img/modesto-jesus-sanchez-lopez.jpg",
      "https://clinicamartinezmarcos.com/img/mios-rehab/equipo-mios-rehab.jpg",
      "https://clinicamartinezmarcos.com/img/mios-rehab/jose-a-lozano.jpg",
      "https://clinicamartinezmarcos.com/img/mios-rehab/miguel-garcia-albadalejo-miki.jpg",
      "https://clinicamartinezmarcos.com/img/mios-rehab/local-mios-rehab-2.jpg",
      "https://clinicamartinezmarcos.com/img/mios-rehab/local-mios-rehab.jpg"],
    "priceRange": "$",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "ratingCount": "13",
      "reviewCount": "13"}
  }