section.py-5.cover.section-parallax.section-light#precios(data-style=`background-image: url(${preciosBackground || 'img/consulta.jpg'}); background-size: cover;`)
  .container
    .row
      .text-center.mx-auto.col-md-12
        h2.h1.text-secondary Precios
    .row.justify-content-center
      if preciosItems
        each preciosItem in preciosItems
          .p-3(class=preciosItem.class data-showup)
            .card.text-center.text-dark
              .card-body.p-4.bg-white.rounded
                i.d-block.fa.fa-5x.mb-3.text-primary(class=`fa-${preciosItem.icon}`)
                h3.text-secondary= preciosItem.header
                p.mt-3
                  if preciosItems.lenght =! 1
                    | Sesión Individual
                    br
                  i.fa.fa-fw.fa-clock.d-inline.text-primary
                  |  #{preciosItem.minuts} minutos
                h4.h2.text-primary= preciosItem.price
                a.btn.mt-3.btn-secondary(href='#contacto') Contactar