section.py-5.cover.section-parallax.section-light#resenas(data-style=`background-image: url(${nosotrosBackground || 'img/equipo-clinica-martinez-marcos.jpg'}); background-size: cover;`)
  .container(data-showup)
    .row.mx-auto
      .col-12.col-md-1
      .col-12.col-md-10.my-4.p-4.bg-white.rounded.text-muted
        h2.h1.mb-3.text-center.text-secondary Reseñas
        .container
          .row
            mixin resena(name, description)
              blockquote.my-4
                i.fa.fa-quote-left.text-primary
                |  #{description} 
                i.fa.fa-quote-right.text-primary
                |  
                cite.d-block.font-weight-bold.text-secondary.mt-2= name
            block resenasContent
        p.text-dark Puedes ver más reseñas y añadir la tuya aquí:
        p.text-center
          if resenasLinkGoogle
            a.btn.btn-primary.btn-md.m-2(href=resenasLinkGoogle target='_blank')
              i.fa.fa-star.fa-fw
              |  Reseñas en Google
          if resenasLinkFacebook
            a.btn.btn-secondary.btn-md.m-2(href=resenasLinkFacebook target='_blank')
              i.fa.fa-star.fa-fw
              |  Reseñas en Facebook