section.py-5.text-center#servicios
  .container
    .row
      .col-12.col-md-2
      .col-12.col-md-8
        h2.h1.mb-3.text-secondary Servicios
        if serviciosItems
          .accordion#accordionServicios(data-showup)
            each serviciosItem, id in serviciosItems
              .card
                .card-header(id=`heading${id}`)
                  h3.mb-0(contenteditable='true')
                    button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target=`#collapse${id}` aria-expanded='false' aria-controls=`collapse${id}`)= serviciosItem.header
                .collapse(id=`collapse${id}` aria-labelledby=`heading${id}` data-parent='#accordionServicios' class=(id == 0 && 'show'))
                  .card-body!= serviciosItem.body